<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDECHS Gallery</title>
    <link rel="stylesheet" href="gallery.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center text-primary p-2">SDECHS GALLERY</h1>
    <h3 class="text-center text-success p-2">Displaying the images of events of SDECHS</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="column">
                <img src="./images/img (1).jfif" />
                <img src="./images/img (1).jpeg" />
                <img src="./images/img (1).jpg" />
                <img src="./images/img (1).PNG" />
                <img src="./images/img (10).png" />
            </div>
            <div class="column">
                <img src="./images/img (2).jpeg" />
                <img src="./images/img (2).jpg" />
                <img src="./images/img (2).png" />
                <img src="./images/img (3).jpeg" />
                <img src="./images/img (3).png" />
            </div>
            <div class="column">
                <img src="./images/img (5).png" />
                <img src="./images/img (6).png" />
                <img src="./images/img (7).jpeg" />
                <img src="./images/img (7).jpg" />
                <img src="./images/img (7).png" />
            </div>
        </div>
    </div>
</body>
</html>